.env
.vscode
data/
backend/data/
minio_data/
.venv/
register.json
login.json
admin_login.json
admin_register.json
admin-login.json
admin-register.json
seller-login.json
seller-register.json
investor-login.json
investor-register.json
confirm-settlement.json
fund.json
kyc-test.jpg
seller-kyc.jpg
listing-create.json
refund.json
relist.json
resettle.json
settle-ws.json
settle.json
*-login.json
*-register.json
inv16_update.json
mint16.json
node_modules/
*.cookies
*.cookie
blockchain/artifacts/
blockchain/cache/
blockchain/ignition/deployments/